<form class="form" [formGroup]="form" (ngSubmit)="login()">
  <mat-form-field class="form__input">
    <input matInput placeholder="Email" type="email" formControlName="username">
  </mat-form-field>
  <mat-form-field class="form__input">
    <input matInput placeholder="Senha" type="password" formControlName="password">
  </mat-form-field>
  <div class="form-actions">
    <button class="form-actions__login" mat-raised-button color="primary" type="submit">Entrar</button>
  </div>
</form>
