<div class="not-found-page">
  <div class="not-found-page__content">
    <div class="not-found-page__title">
      <h3 class="not-found-page__title-text">Portal de leilões</h3>
    </div>

    <mat-card class="not-found-page__card">
      <mat-card-content class="not-found-page__content">
        <h1 class="not-found-page__card-title">404</h1>

        <p class="not-found-page__card-sub-title">Este conteúdo ou página não existe</p>
        <p class="not-found-page__card-sub-title-second">Voute para o dashbord</p>

        <button class="not-found-page__card-button" mat-raised-button color="primary" [routerLink]="routes.DASHBOARD">Dashboard</button>

      </mat-card-content>
    </mat-card>
  </div>
</div>
