<app-layout>
    <mat-toolbar class="page-header" role="heading">
      <h1>Dashboard</h1>
      <button mat-flat-button (click)="showSuccess()" color="warn">Info Toastr</button>
    </mat-toolbar>
    <main>
      {{ auctions$ | async | json }}
    </main>  
    <app-footer></app-footer>
  </app-layout>