<div class="auth-page">
  <div class="auth-page__content-block">
    <div class="auth-page__content-wrapper">
      <mat-tab-group class="auth-page__group">
        <mat-tab label="Entrar">
          <h4 class="auth-page__group-title">Entrar</h4>
          <app-login-form (sendLoginForm)="sendLoginForm($event)"></app-login-form>
        </mat-tab>
        <mat-tab label="Cadastrar-se">
          <h4 class="auth-page__group-title">Cadastrar-se</h4>
          <app-sign-form (sendSignForm)="sendSignForm()"></app-sign-form>
        </mat-tab>
      </mat-tab-group>
      <p class="auth-page__footer-title">© 2021 <a href="https://www.github.com/jeferson0993">Jeferson Ferreira</a>,
        DIXBPO.</p>
    </div>
  </div>
</div>