<mat-list>
  <mat-list-item routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
    <mat-icon>home</mat-icon> Dashboard
  </mat-list-item>
  <mat-list-item routerLink="{{routes.PROFILE}}">
    <mat-icon>person</mat-icon> Perfil
  </mat-list-item>
</mat-list>

<p class="sidebar-title">Projetos</p>

<mat-list>  
  <mat-list-item>
    <mat-icon>link</mat-icon>
    <a href="{{linkedin}}" target="_blank" style="text-decoration: none; color: none;"> Linkedin </a>
  </mat-list-item>
  <mat-list-item>
    <mat-icon>link</mat-icon>
    <a href="{{github}}" target="_blank" style="text-decoration: none;"> Github </a>
  </mat-list-item>
</mat-list>