<app-layout>
    <mat-toolbar class="page-header" role="heading">
        <h1>{{user.name}}</h1>
    </mat-toolbar>
    <mat-card>
        {{user | json}}
    </mat-card>
    <app-footer></app-footer>
</app-layout>