<form class="form" [formGroup]="form" (ngSubmit)="sign()">
  <mat-form-field class="form__input">
    <input matInput placeholder="Nome" formControlName="name">
  </mat-form-field>
  <mat-form-field class="form__input">
    <input matInput placeholder="Email" type="email" formControlName="email">
  </mat-form-field>
  <mat-form-field class="form__input">
    <input matInput placeholder="Senha" type="password" formControlName="password">
  </mat-form-field>
  <div class="form-actions">
    <button class="form-actions__create" mat-raised-button color="primary" type="submit">Cadastrar-se</button>
  </div>
</form>
